body {
    padding-bottom: 2rem;
    background-image: linear-gradient(0deg,rgba(199,249,204,0.7),rgba(199,249,204,0.9)), url(../images/vista-frontal-viajero-carretera.jpg);
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}    

::selection {
    color: white;
    background: $textcolor;
}   

a {
    text-decoration: none;
    color: $textcolor;
    
    &:hover {
        text-decoration: underline;
        color: $textcolor;
    }
}

p {
    text-align: justify;
  }

.bg-success {
    background-color: #38A3A5 !important;
}

.images {
    width: 50%;
}    

header, section {
    margin-bottom: 2rem;
}    
