/* ####################################                          Index page                          #################################### */

@media (min-width: 768px) {
    .carousel {
        width: 80%;
    }
}
@media (min-width: 990px) {
    .carousel {
        width: 60%;
    }
}
@media (min-width: 1400px) {
    .carousel {
        width: 50%;
    }
}

.testimony {
    &-polaroid {
        &-signature {
            font-family: 'Great Vibes', cursive;
        }
    }
}

/* ####################################                          Who page                          #################################### */

@media (min-width: 990px) {
    .who-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "texto imagen";
        
        &-text {
            align-items: left;
            grid-area: texto;
        }
        
        &-photo {
            grid-area: imagen;
        }
    }
}

.images-grid {
    width: 100%;
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ####################################                          Services page                          #################################### */

.services {
    display: flex;
    @include position;
    margin: 2rem;
    
    &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 1200px;
    }
    
    &-card {
        padding: 1rem;
        background-color: rgb(128, 237, 153, 0.4);
        @include position;
        flex: 1;

        transition-duration: 1s;
        transition-timing-function: ease-out;
        
        -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        & img {
            width: 100%;
        }        
        
        &:hover {
            background-color: rgb(0, 128, 0, 0.3);
            
            & h3,
            & p {
                color: white;
            }        
        }        
        
        &:active h3,
        &:active p {
            color: black;
        }    
    }        
}

@media (max-width: 1399px) {
    .services-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 1000px;
    }        
}

@media (max-width: 1199px) {
    .services-cards {
        display: inline;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 600px;
    }        
}

@media (max-width: 991px) {
    .services-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 500px;
    }
}

/* ####################################                          Events page                          #################################### */

.events-monthly {
    width: 100%;
    height: 600px;
}

@media (min-width: 769px) {
    .events-agenda {
        display: none;
    }
}

@media (max-width: 768px) {
    .events-monthly {
        display: none;
    }
    .events-agenda {
    width: 100%;
    height: 400px;
    }
}

@media (max-width: 576px) {
    .events-monthly {
        display: none;
    }
    .events-agenda {
    width: 100%;
    height: 400px;
    }
}

iframe {
    filter: hue-rotate(255deg) drop-shadow(2px 4px 6px black);
  }

/* ####################################                          Contact page                          #################################### */

@media (min-width: 769px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 20px;
        
        &-form {
            grid-column: 1;
            grid-row: 1;
        }
    }
}

@media (max-width: 768px) {
    .contact-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        
        &-form {
            grid-row: 1;
        }
    }
}

/* Contact form */
.contact form {
    max-width: 500px;
}

/* Social media */
.social {
    list-style-type: none;
    margin-top: 2rem;
    
    &-item {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    
    &-logo {
        margin-right: 1rem;
        width: 20px;
    }
}