@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins:ital,wght@0,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat&family=Poppins:ital,wght@0,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bold,'Montserrat';
    color: #22577A;
/*     background-color: rgba(199, 249, 204,0.2);
     text-shadow: 0 0 3px #C7F9CC, 0 0 5px #C7F9CC; */
}